*{Body {
  Font-Family: Sans-Serif;
  text-align: Center;
  Padding: 40px;
  Background-color: #157cd6;
}

Input {
  Padding: 8px;
  Margin: 10px;
  Width: 200px;

}
button {
  Padding: 8px 12px;
  Cursor: Indicator;
  color:white;
  background-color: black;
}}